<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="dev.pushkar.goconso">

    <dist:module dist:instant="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_tall"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_circle"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <service
                android:name=".MyFirebaseInstanceIdService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".Info"
                android:label="@string/title_activity_info"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="dev.pushkar.goconso.MainActivity"/>
        </activity>
        <activity
                android:name=".Scoreboard"
                android:label="@string/title_activity_scoreboard"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="dev.pushkar.goconso.MainActivity"/>
        </activity>

        <meta-data
                android:name="com.google.android.gms.games.APP_ID"
                android:value="@string/app_id"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_circle"/>
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="ec04498f967b0e4a4a6c524a24b621bea8c4d160" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/primaryLightColor"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>